.contAddEvent {
  height: 100vh;
  display: flex;
  position: relative;
}
.contTitleAddEvent {
  width: 50%;
  height: 100%;
}
.contImageAddEvent {
  width: 50%;
  height: 100%;
}

.addEventInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addEventInput input {
  width: 50vw;
}

.dropdown-list {
  margin: 20px 0;
  height: 10%;
  width: 25%;
  background-color: #001e38;
  border: 1px solid white;
  padding: 10px;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.inpt::placeholder {
  color: white;
}
