.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4a6d88;
}

.home h2 {
    font-size: 25px;
    font-style: italic;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    width: 80%;
    background-color: #001e38;
    margin-top: 50px;
}

.h2_container{
    display: flex;
    justify-content: center;
}

.videoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background_video {
    width: 100%;
}

.searchCity {
    width: 20%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    opacity: 0.8;
}

#selectCity {
    width: 20%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    margin-top: 4.5rem;
}

.mapDiv iframe {
    width: 80vw;
    height: 80vh;;
}

