.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background_video {
    filter: grayscale(90%);
}

.searchCity {
    width: 20%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    opacity: 0.8;
}

.home > select {
    width: 20%;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    margin-top: 4.5rem;
}

.mapDiv {
    position: relative;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
}

.mapDiv iframe {
    width: 80vw;
    height: 80vh;
}