.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #29313b;
}

.home h2 {
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  color: #29313b;
  font-family: "fontTitle";
}

.h2_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  background: #bb5657;
  position: relative;
}
.btnPresentation {
  margin: 2em;
  background: #bb5657;
  border: 2px solid #29313b;
}
.btnPresentation:hover {
  background: #ce6a6c;
}
.h2_container p {
  line-height: 1.5;
  color: #29313b;
}

.videoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.titleHeroHeader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: white;
}
.titleHeroHeader span {
  color: #bb5657;
}

.background_video {
  width: 100%;
}

.searchCity {
  width: 20%;
  height: 30px;
  text-align: center;
  z-index: 1;
  position: absolute;
  background: none;
  border: none;
  border-bottom: 1px solid #bb5657;
  outline: none;
  color: white;
}

#selectCity {
  width: 20%;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  z-index: 1;
  position: absolute;
  margin-top: 4.5rem;
}

.mapDiv {
  margin-bottom: 4em;
  background: #bb5657;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  position: relative;
}

.mapDiv iframe {
  width: 50%;
  height: 80vh;
}
.mapDiv div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.mapDiv div p {
  margin: 1em;
  line-height: 1.5;
}

.displayNone {
  display: none;
}

.logo_liveup {
  height: 80vh;
  width: 80vh;
}

.logo_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.displayNone {
  display: none;
}

.logo_container {
  display: flex;
  justify-content: center;
  background-color: #29313b;
}
#titleCaroussel {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #6a3b3c;
  font-family: "fontTitle";
  font-size: 5em;
  letter-spacing: 6px;
}
#titleLocation {
  text-transform: uppercase;
  color: #6a3b3c;
  font-family: "fontTitle";
  font-size: 5em;
  letter-spacing: 6px;
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
}
