.container-sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #29313b;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.container-input {
  padding: 2em;
}

.container-sign-up input {
  height: 50px;
  text-align: center;
  color: #29313b;
}

.sign-up {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #29313b;
}

.name {
  display: flex;
  justify-content: space-between;
}

.name input {
  width: 40%;
  background: #bb565883;
  border: none;
}

.mail {
  width: 100%;
}

.width-input input {
  width: 100%;
  box-sizing: border-box;
  background: #bb565883;
  border: none;
}

.space {
  padding-bottom: 10%;
}

.btn-sign-up button {
  height: 35px;
  width: 150px;
  background-color: #bb5657;
  color: #010c1e;
  border: 1px solid #29313b;
  font-size: 1rem;
  transition: 0.5s;
  cursor: pointer;
}

.btn-sign-up button:hover {
  transform: scale(1.05);
  background-color: #29313b;
  border: 1px solid #bb5657;
  color: white;
}

.title-sign-up {
  background-color: #bb5657;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}

.title-sign-up h2 {
  font-size: 2rem;
}

.borderRed input {
  border: 2px solid red;
}

.borderRed p {
  color: red;
}

@media screen and (max-width: 870px) {
  .container-sign-up {
    width: 70%;
  }
}
